

.navbar {
    background:#07B7EF;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;
    overflow: hidden;
    
}
.navbar div {
    display: none;
}
.navbar .toggle,
.navbar .brand {
    display: inline-block;
}
.navbar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background: #07B7EF;
    color: white;
     
}
.navbar .buy_now{
    display: block;
    text-align: center;
    align-self: center;
    color: #FFFFFF;	
    font-family: "Circular Std";	
    font-size: 9px;	
    font-weight: bold;	
    letter-spacing: 2.7px;	
    line-height: 36px;	
    height: 36px;	
    width: 124px;	
    border-radius: 18px;	
    background-color: #037497;
    margin-left: 5%;
    margin-right: 5%;
}

.fas{
    color: #FFFFFF;
    display: block;
    align-self: center;	
    margin-right: 2%;
}
.navbar .link:hover,
.navbar .link:active {
    border-top: 4px solid #ffffff;
}
.navbar .brand {
    text-align: center;
    padding: 1em;
    color: white;
    height: 18px;
    width: 18.8px;
    margin-left: 5%;
}
.navbar a {
    text-decoration: none;
}
.navbar .toggle {
    padding: 1em;
    color: white;
}
@media (min-width: 48em) {
    .navbar {
        display: flex;
    }
    .navbar .left,
    .navbar .right {
        display: flex;
        flex: 1;
    }
    .navbar .link {
        width: auto;
        color: #FFFFFF;	
        font-family: "Circular Std";	
        font-size: 16px;	
        font-weight: 300;	
        letter-spacing: -0.32px;	
        line-height: 18px;	
    }
    .navbar .right {
        justify-content: flex-end;
    }
    .navbar .toggle {
        display: none;
    }
}
@media (min-width: 48em) {
    .navbar div {
        display: flex;
    }
}
@media (max-width: 48em) {
    .navbar.active .toggle {
        background: #223047;
        color: white;
    }
    .navbar .brand {
        text-align: left;
    }
    .navbar.active div {
        display: block;
    }
}